.categories {
  margin-bottom: 57px;

  &__btn {
    margin-bottom: 6px;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  &__link {
    @include flex-all-sb;

    padding: 14px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__num {
    display: inline-block;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  @include tablet {
    margin-bottom: 30px;
  }
}
