.footer {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  text-align: center;

  &__logo {
    display: block;
    margin-bottom: 55px;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__social {
    margin-bottom: 40px;
  }

  &__copyright {
    display: block;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
    width: 100%;
    max-width: 1170px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color);
  }

  @include small-tablet {
    padding-top: 30px;
  }
}

.footer-nav {
  margin-bottom: 30px;

  &__list {
    @include flex-all-center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__link {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-color);
    }
  }
}
