.header {
  padding: 34px 72px;
  padding-bottom: 31px;
  background-color: var(--light-color);

  &__container {
    @include flex-all-sb;
  }

  @include tablet {
    padding: 20px 72px;
  }

  @include mobile {
    padding: 15px;
  }
}
