.hero {
  @include bg-cover;

  padding-top: 490px;
  padding-bottom: 33px;
  min-height: 700px;
  background-image: url("../img/hero-bg-image.png");

  &__content {
    max-width: 570px;

    @include mobile {
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-shadow:
      1px 0 1px #000,
      0 1px 1px #000,
      -1px 0 1px #000,
      0 -1px 1px #000;
    color: var(--light-color);

    @include mobile {
      font-size: 33px;
    }
  }

  @include tablet {
    padding-top: 200px;
    min-height: 0;
  }
}
