.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    width: 34px;
    height: 34px;

    &:not(:last-child) {
      margin-right: 20px;

      @include mobile {
        margin-right: 16px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    color: var(--text-color);
    background-color: transparent;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    svg {
      width: 18px;
      height: 18px;
      color: inherit;
      fill: currentcolor;
      object-fit: cover;
    }

    &:hover {
      border-color: var(--accent-color);
      color: var(--light-color);
      background-color: var(--accent-color);
    }
  }
}
