.tags {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }

    @include small-tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;

      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    padding: 6px 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--text-color);
    background-color: #f8f9fa;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-color);
    }

    @include tablet {
      grid-column: 1 span;
      padding: 6px 0;
      text-align: center;
    }
  }

  @include mobile {
    margin-bottom: 30px;
  }
}
