.featured-posts {
  &__list {
    margin-bottom: 70px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include small-tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
    }
  }

  &__item {
    margin-bottom: 30px;
    max-width: 270px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
    text-align: center;

    @include small-tablet {
      grid-column: 2 span;
      max-width: none;
    }

    @include mobile {
      grid-column: 6 span;
    }
  }
}
