<footer class="footer">
  <div class="container">
    <a href="index.html" class="logo footer__logo">
      <img src="img/logo.svg" alt="Логотип компании" width="126" height="36">
    </a>
    <nav class="footer-nav">
      <ul class="list-reset footer-nav__list">
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Home</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Recipes</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Article</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Contact</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Purchase</a></li>
      </ul>
    </nav>
    <ul class="list-reset social footer__social">
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Фейсбуке">
          <svg>
            <use xlink:href="img/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Твиттере">
          <svg>
            <use xlink:href="img/sprite.svg#tw"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Пинтересте">
          <svg>
            <use xlink:href="img/sprite.svg#pin"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Гугл плюс">
          <svg>
            <use xlink:href="img/sprite.svg#google"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Behance">
          <svg>
            <use xlink:href="img/sprite.svg#be"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Инстаграме">
          <svg>
            <use xlink:href="img/sprite.svg#inst"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <small class="footer__copyright">
    @2019 Logwork. All Right Reserved.
  </small>
</footer>
