<header class="header">
  <div class="header__container">
    <a href="index.html" class="logo">
      <img src="img/logo.svg" alt="Логотип компании" width="126" height="36">
    </a>
    <nav class="nav" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link nav__link--current">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Recipes</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Article</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Purchase</a></li>
      </ul>
    </nav>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
