<section class="portfolio" data-aos="fade-up">
  <div class="container">
    <h2 class="portfolio__title">
      Follow our
      <a href="#" target="_blank" class="portfolio__link">@instagram_name</a>
    </h2>
  </div>
  <div class="portfolio__images">
    <div class="swiper portfolio__slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-1.avif" type="image/avif">
                  <source srcset="img/inst-img-1.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-1.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-2.avif" type="image/avif">
                  <source srcset="img/inst-img-2.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-2.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-3.avif" type="image/avif">
                  <source srcset="img/inst-img-3.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-3.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-4.avif" type="image/avif">
                  <source srcset="img/inst-img-4.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-4.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-5.avif" type="image/avif">
                  <source srcset="img/inst-img-5.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-5.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-6.avif" type="image/avif">
                  <source srcset="img/inst-img-6.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-6.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-1.avif" type="image/avif">
                  <source srcset="img/inst-img-1.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-1.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-2.avif" type="image/avif">
                  <source srcset="img/inst-img-2.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-2.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-3.avif" type="image/avif">
                  <source srcset="img/inst-img-3.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-3.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-4.avif" type="image/avif">
                  <source srcset="img/inst-img-4.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-4.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-5.avif" type="image/avif">
                  <source srcset="img/inst-img-5.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-5.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="portfolio__item">
              <a href="#" class="portfolio__link">
                <picture>
                  <source srcset="img/inst-img-6.avif" type="image/avif">
                  <source srcset="img/inst-img-6.webp" type="image/webp">
                  <img loading="lazy" src="img/inst-img-6.jpg" class="portfolio__image" width="296" height="296" alt="Фотография из нашего инстаграмма">
                </picture>
              </a>
            </div>
         </div>
      </div>
    </div>
  </div>

</section>
