:root {
  // base
  --font-family: "PT Serif", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #171717;
  --accent-color: #c9a96e;
  --text-color: #666;
}
